<nav id="sidebarMenu" class="col-1 d-md-block sidebar collapse">
    <div class="sticky-top pt-3">
      <ul class="nav flex-column">
        {% if request.user.is_authenticated %}
        Logged in as {{ request.user }}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:logout_user' %}">
            Log out
          </a>
        </li>
            {% if perms.article.add_article %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'article:article_create' %}">
                    Create article
                </a>
            </li>
            {% endif %}
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main:login_user' %}">
              Log in
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:register_user' %}">
              Register
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:reset_password' %}">
              Reset Password
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>