{% extends 'layouts/private_base.html' %}

{% block description %}
  Login
{% endblock %}

{% block keywords %}
  User, login
{% endblock %}

{% block title %}
  login
{% endblock %}

{% block content %}
<section class="mt-4">
  <div class="row justify-content-center">
    <div class="col-5">
        <form class="row justify-content-center" action="" method="post">
            {%csrf_token%}
            {% include 'pages/login_form.html'%}
            <button class="col-3 m-3 btn btn-primary" type="submit">Log IN!!</button>
        </form>
    </div>
  </div>
</section>
{% endblock %}