<div class="form-group
                {% if form.oldpass.errors %} 
                  has-error 
                {% endif %}"
    >
      <label class="control-label" for="signin-oldpass">Old Password</label>
      <input class="form-control" type="oldpass" id="signin-oldpass"
             placeholder="OldPassword" name="oldpass"
             value="{{ form.oldpass.value|default_if_none:"" }}">
      {% if form.oldpass.errors %}
        <div class="form-group has-error">
          <div class="control-label">
            {{ form.oldpass.errors }}
          </div>
        </div>
      {% endif %}
    </div>

    <div class="form-group
                {% if form.password1.errors %}
                  has-error
                {% endif %}"
    >
      <label class="control-label" for="signin-password1">New Password</label>
      <input class="form-control" type="password" id="signin-password1"
             placeholder="Password" name="password1"
             value="{{ form.password1.value|default_if_none:"" }}">
      {% if form.password1.errors %}
        <div class="form-group has-error">
          <div class="control-label">
            {{ form.password1.errors }}
          </div>
        </div>
      {% endif %}
    </div>
    <div class="form-group
                {% if form.password2.errors %}
                  has-error
                {% endif %}"
    >
      <label class="control-label" for="signin-password2">Re enter New Password</label>
      <input class="form-control" type="password" id="signin-password2"
             placeholder="Password Again" name="password2"
             value="{{ form.password2.value|default_if_none:"" }}">
      {% if form.password2.errors %}
        <div class="form-group has-error">
          <div class="control-label">
            {{ form.password2.errors }}
          </div>
        </div>
      {% endif %}
    </div>