{% extends 'layouts/public_base.html' %}
{% load static %}
{% block description %}
  This is the contact page
{% endblock %}

{% block keywords %}
  Contact, stalk, email, get help, you need it
{% endblock %}

{% block title %}
  Contact Us
{% endblock %}

{% block content %}
  <section class="mt-4 text-center">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Thank you for contacting us, you can fuck off now</h1>
      </div>
    </div>
  </section>
{% endblock %}