{% extends 'layouts/public_base.html' %}

{% block description %}
  Create a new article
{% endblock %}

{% block keywords %}
  Add article, Create article
{% endblock %}

{% block title %}
  Create article
{% endblock %}

{% block content %}
<section class="mt-4">
    <div class="row">
        <form action="{%url 'article:article_create'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {% include 'pages/article_form.html'%}
            <button class="btn btn-primary mt-3" type="submit" value="Submit">Post Article</button>
        </form>
    </div>
</section>
{% endblock %}