{% extends 'layouts/public_base.html' %}

{% block description %}
  {{ article.authors}}
{% endblock %}

{% block keywords %}
  Course List, Free courses, Not a scam
{% endblock %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block content %}
  <section class="row pt-5">
      <div class="card" style="col">
        {% if article.video.url != null %}
        <video controls width="100%">
          <source src="{{article.video.url}}" type="video/mp4">
        </video>
        {% elif article.thumbnail.url != null%}
        <img src="{{article.thumbnail.url}}" class="card-img-top" alt="...">
        {%endif%}
        <div class="card-body">
          <h5 class="card-title">{{article.title}}</h5>
          <p class="card-text">{{ article.text }}</p>
          {% for author in article.authors.all %}
          <h2>this post was made by {{ author }} gang in da {{ article.category }} category</h2>
          {% endfor %}
        </div>
      </div>
  </section>

  {% if request.user in article.authors.all%} <!-- Delete button is visible to authors and admin -->
  <section class="row py-3">
    <div>
      <a href="{% url 'article:delete_article' article.slug %}" class="btn btn-primary">Delete article</a>
    </div>
  </section>
  {% endif %}

  {% if request.user in article.authors.all%} <!-- Delete button is visible to authors and admin -->
  <section class="row py-3">
    <div>
      <a href="{% url 'article:article_update' article.slug %}" class="btn btn-primary">Edit article</a>
    </div>
  </section>
  {% endif %}

  {% if request.user.is_authenticated %}
  <form action="" method="post">
    {% csrf_token %}
    {% include 'pages/article_comment_form.html'%}
    <button class="btn btn-primary mt-3" type="submit" value="Submit">Post Comment</button>
  </form>
  {% endif %}
  
  <hr>
  
  {% if comments.count > 0 %}
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#commentSection">Show/Hide {{ comments.count }} comments</button>
  <div class="collapse" id="commentSection">
    {% for comment in comments %}
    <section class="row my-2">
      <div class="card" style="col">
        <div class="card-body">
          <h5 class="card-title">{{ comment.user }}</h5>
          <p class="card-text">{{ comment.comment_text }}</p>
        </div>
      </div>
    </section>
    {% endfor %}
  </div>
  {% endif %}

{% endblock %}