{% extends 'layouts/public_base.html' %}

{% block description %}
  {{ article.authors}}
{% endblock %}

{% block keywords %}
  Course List, Free courses, Not a scam
{% endblock %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block content %}
  <section class="row pt-5">
      <div class="card" style="col">
        {% if article.video.url != null %}
        <video controls width="100%" style="object-fit: contain; height: 400px">
          <source src="{{article.video.url}}" type="video/mp4">
        </video>
        {% elif article.thumbnail.url != null%}
        <img src="{{article.thumbnail.url}}" style="object-fit: cover; height: 300px" alt="...">
        {%endif%}
        <div class="card-body">
          <h3 class="card-title">{{article.title}}</h5>
          <p class="card-text">{{ article.text }}</p>

          <br>
          <h3>Authored by:</h3>
            <h4>
            {% for author in article.authors.all %}
            {{ author }}<br>
            {% endfor %}
            </h4>
        </div>
      </div>
  </section>

  {% if request.user in article.authors.all%} <!-- Delete button is visible to authors and admin -->
  <section class="row py-3">
    <div>
      <a href="{% url 'article:delete_article' article.slug %}" class="btn btn-primary">Delete article</a>
    </div>
  </section>
  {% endif %}

  {% if request.user in article.authors.all%} <!-- Delete button is visible to authors and admin -->
  <section class="row py-3">
    <div>
      <a href="{% url 'article:article_update' article.slug %}" class="btn btn-primary">Edit article</a>
    </div>
  </section>
  {% endif %}

  {% include '../partials/comments.html' %}
{% endblock %}