<div class="form-group
            {% if form.comment_text.errors %}
              has-error
            {% endif %}"
>
  <label class="control-label" for="comment_text">Leave a comment:</label>
  <input class="form-control" type="text" id="comment_text"
         placeholder="Comment goes here" name="comment_text"
         value="{{ form.comment_text.value|default_if_none:"" }}">
  {% if form.comment_text.errors %}
    <div class="form-group has-error">
      <div class="control-label">
        {{ form.comment_text.errors }}
      </div>
    </div>
  {% endif %}
</div>

<button class="btn btn-primary mt-3" type="submit" 
hx-post="{% url 'article:article_comment' articleid=article.id %}"
hx-target="#comment_list"
hx-swap="innerHTML"
>
  Post Comment
</button>