{% extends 'layouts/public_base.html' %}

{% block description %}
  {{ article.authors}}
{% endblock %}

{% block keywords %}
  Course List, Free courses, Not a scam
{% endblock %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block content %}
  <section class="row pt-5">
      <div class="card" style="col">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{article.title}}</h5>
          <p class="card-text">{{ article.text }}</p>
          {% for author in article.authors.all %}
          <h2>this post was made by {{ author }} gang</h2>
          {% endfor %}
        </div>
      </div>
  </section>

  {% if request.user in article.authors.all%} <!-- Delete button is visible to authors and admin -->
  <section class="row py-3">
    <div>
      <button type="button" class="btn btn-primary">Delete article</button>
    </div>
  </section>
  {% endif %}

  {% if request.user in article.authors.all%} <!-- Delete button is visible to authors and admin -->
  <section class="row py-3">
    <div>
      <a href="{% url 'article:article_update' article.slug %}" class="btn btn-primary">Edit article</a>
    </div>
  </section>
  {% endif %}
{% endblock %}