{% extends 'layouts/public_base.html' %}
{% load static %}
{% block description %}
  All articles listed
{% endblock %}

{% block keywords %}
  Article, Feed, List
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
    <section class="row py-5">

        <!-- Left side of article list page, meant to display large articles -->
        <div class="col-7">
        {%for article in articles%}
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <h6>{{article.text}}</h6>
            <a href="{% url 'article:article_detail' article.slug %}" class="btn btn-primary">Loogathis!!!!</a>
          </div>
        </div>
        {% endfor %}
        </div>

        <!-- Right side of article list page, meant to display small articles -->
        <div class="col-5">
          {%for article in articles%}
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">{{article.title}}</h5>
              {% comment %} <p class="card-text">{{ article.text }}</p> {% endcomment %}
              <a href="{% url 'article:article_detail' article.slug %}" class="btn btn-primary">Click for free article viewing!!!</a>
            </div>
          </div>
          {% endfor %}
        </div>
    </section>
{% endblock %}