{% extends "layouts/public_base.html" %}

{% block description %}
  Update an article
{% endblock %}

{% block keywords %}

{% endblock %}

{% block title %}
  Update Article
{% endblock %}

{% block page-header %}
  Update Article
{% endblock %}

{% block content %}
  <div class="row py-5">
    <div class="col-xs-12">
      <div class="form">
        <form method="post"
              action="{% url 'article:article_update' form.instance.slug %}"
              enctype="multipart/form-data"
        >
          {% csrf_token %}
          {% include 'pages/article_form.html' %}
          <div class="form-group">
            <input class="form-control btn btn-primary" type="submit"
                    value="Update Article">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}